.user-dashboard {
    margin-top: 50px;
}

.stat-card {
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid rgba(100, 181, 246, 0.5);
}

.stat-card h5 {
    font-weight: bold;
    font-size: 1.5rem;
}

.stat-card .stat-value {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

.chart-container {
    margin-top: 30px;
}

.chart-card {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(100, 181, 246, 0.5);
}

/* Adjustments for mobile devices */
@media (max-width: 810px) {
    #result-block {
        width: 100% !important;
        display: none;
    }
}

/* Adjustments for small screens (mobiles) */
@media (max-width: 576px) {
    #result-block {
        width: 100% !important;
        display: none;
    }
}

/* Input with link to be shorten */
.input-group-custom {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.input-group-custom input {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    padding: 15px 30px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
}

.input-group-custom input:focus {
    border-color: #42a5f5;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.input-group-custom button {
    border-radius: 50px;
    padding: 15px 30px;
    border: 2px solid #007bff;
    background-color: rgb(247, 184, 48);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.input-group-custom button:hover {
    background-color: rgb(247, 184, 48);
    border-color: rgb(177, 177, 177);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(56, 142, 60, 0.2);
}

#result-block {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: none;
}

.result-container {
    background: linear-gradient(to right, #bbcdf3, #d8d9fa);
    border-radius: 30px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    color: black;
    border: 1px solid #ccc;
}

.result-link {
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    flex-grow: 1;
    color: #333;
}

.copy-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #555;
}

.copy-btn:active {
    background-color: #777;
}
#countriesData, #browsersData, #osData, #timeData
{
    display: none;
}
.empty-links-placeholder {
    padding: 2rem;
    border: 1px solid rgba(100, 181, 246, 0.5);
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.empty-links-placeholder h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.empty-links-placeholder p {
    font-size: 1rem;
    color: #666;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}